
<% if flash[:error_email] %>
    <div class="notice"><%= flash[:error_email] %></div>
<% end %>

<%= render 'create_spisok' %>
<%= render 'create_email' %>
<%= render 'show_spisok' %>
<%= render 'show_email' %>