<%= render 'header' %>
<section class="main_body">
  <div class="container" >
    <div class="row">
      <div class="parent_show_email">
        <%= render 'show_email' %>
      </div>
      <div class="col-sm">
        <img class="slide_1" src="/assets/slide_1.jpg" />  
        <%= render 'show_spisok' %>
      </div>
    </div>
  </div>
</section>

<footer>
<div class="container" >
    <div class="row">
      <div class="col-sm">
      <img class="media_icons" src="/assets/media_icons.PNG" />  
      </div>
      <div class="col-sm">
      <u>Разработано - Странный.org</u>
      </div>
      <div class="col-sm-right">
      На права всем плевать, 2019
      </div>
    </div>
  </div>
</footer>

<section class="input_data">
  <div class="parent_create_spisok"><%= render 'create_spisok' %></div>
  <div class="parent_create_email"><%= render 'create_email' %></div>
</section>




