<div class="parent_create_spisok"><%= render 'create_spisok' %></div>
<div class="parent_create_email"><%= render 'create_email' %></div>
<%= render 'header' %>
<section class="main_body">
  <div class="container" >
    <div class="row">
      <div class="parent_show_email">
        <%= render 'show_email' %>
      </div>
      <div class="col-sm">
        <img class="slide_1" src="/assets/slide_1.jpg" />  
        <%= render 'show_spisok' %>
      </div>
    </div>
  </div>
</section>

<footer>
dd
</footer>




